* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Mono", monospace;
    background-color: #0f0f1a;
    color: #d6d6e7;

    background-image: radial-gradient(circle at top, #1a1a2e, #0a0a12);
}

/* HEADER */

header {
    background: linear-gradient(to bottom, #0c0c18, #070711);
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid #1e1e35;
}

header h2 {
    color: #cfd3ff;
    font-size: 32px;
    letter-spacing: 3px;

    text-shadow:
        0 0 5px #8a90ff,
        0 0 15px #6f75ff,
        0 0 25px #4c52ff;
}

/* LAYOUT CENTRAL */

main,
#skills,
#bloco3 {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/* PRIMEIRO BLOCO */

main {
    display: flex;
    align-items: center;
    margin-top: 100px;
    gap: 60px;
}

main img {
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(120,120,255,0.4);
}

main section p {
    font-size: 20px;
    margin-top: 15px;
    line-height: 1.6;
}

/* SEGUNDO BLOCO */

#skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
    gap: 60px;
}

#skills img {
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#skills img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(120,120,255,0.4);
}

#skills .texto {
    max-width: 650px;
}

#skills p {
    font-size: 20px;
    margin-top: 15px;
    line-height: 1.6;
}

/* TERCEIRO BLOCO */

#bloco3 {
    margin-top: 120px;
}

#bloco3 .secao3 {
    font-size: 20px;
    max-width: 700px;
}

#bloco3 p {
    margin-top: 15px;
    line-height: 1.6;
}

#bloco3 img {
    display: block;
    margin: 50px auto;
    border-radius: 12px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#bloco3 img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(120,120,255,0.4);
}

/* FOOTER */

footer {
    background: linear-gradient(to top, #0c0c18, #070711);
    text-align: center;
    padding: 25px;
    border-top: 1px solid #1e1e35;
    margin-top: 120px;
}

footer p {
    color: #9aa0ff;
}
